.side_header
  .side_header__left_content
    = current_user.name    
  .side_header__right_content
    = link_to new_group_path, class: "side_header__right_content--icon" do
      = icon('fas', 'edit')
    = link_to edit_user_path(current_user), class: "side_header__right_content--icon" do
      = icon('fas', 'cog')
